.env
.env.*
!.env.example
**/target/
**/build/
**/.dart_tool/
**/Pods/
**/.symlinks/
**/.idea/
**/.flutter-plugins*
__pycache__/
*.pyc
*.log
*.iml
.DS_Store
*.mlmodel
*.mlmodelc/
*.mlpackage/
*.osm.pbf
